<component name="libraryTable">
  <library name="springindicator-1.0.2">
    <CLASSES>
      <root url="file://$USER_HOME$/.android/build-cache/8f52d05d4394dc8b7ac4bd231f31c7ccd0bbac2d/output/res" />
      <root url="jar://$USER_HOME$/.android/build-cache/8f52d05d4394dc8b7ac4bd231f31c7ccd0bbac2d/output/jars/classes.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.chenupt.android/springindicator/1.0.2/a3f538e8002360c69991390acfe41148ff6081af/springindicator-1.0.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>